%form{:id => "aobject", :method => "post", :action => "/ao/create"}
  %label{:for => "name"} Name:
  %input{:id => "name", :name => "name", :type => "text"}
  %label{:for => "value"} Value:
  %input{:id => "value", :name => "value", :type => "text"}
  %label{:for => "numeral"} Numeral:
  %input{:id => "numeral", :name => "numeral", :type => "text"}
  %input{:type => "submit", :name => "submit", :value => "submit"}