!!!strict
%html
  %head
    %title App
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/style.css'}
    %script{:type => 'text/javascript', :src => 'js/jquery.js'}
    %script{:type => 'text/javascript', :src => 'js/application.js'}
  %body
    #Header
      .clear
      #contentMast
        - if flash.has?(:notice)
          .flash
            %p= flash[:notice]
      .clear
    #Body
      #contentBody
        = yield
    #footer
      @copy; testAppsRUs